[Unit]
Description=my-app service
After=docker.service
Requires=docker.service
[Service]
ExecStart=/usr/bin/docker start -a my-app
ExecStop=/usr/bin/docker stop -t 10 my-app
Restart=on-failure
RestartSec=3
[Install]
WantedBy=multi-user.target
